#root {
  margin: 0 auto;
  text-align: center;
}

#home { 
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  #home {
    padding-left: 80px;
    padding-right: 80px;
  }
}



